.board {
    padding: 30px 10px 40px 0;
    background: url("line.png") right top repeat-y;
}

.board .tag-name {
    height: 50px;
    position: relative;
    background: url("line.png") left bottom repeat-x;
}

.board .tag-name i {
    line-height: 50px;
    position: absolute;
    left: 0;
    color: #34AB96;
}

.board .tag-name h4 {
    line-height: 50px;
    position: absolute;
    left: 30px;
    font-weight: bold;
}

.board .item {
    padding: 20px 0;
    background: url("line.png") left bottom repeat-x;
}

.board .item .title h5 {
    line-height: 50px;
    font-weight: bold;
}

.board .item .content-summary h5 {
    line-height: 30px;
    color: #A9ACAD;
}

.board .item .about {
    height: 60px;
    padding-top: 20px;
    position: relative;
}

.board .item .about .columns {
    position: relative;
    height: 40px;
}

.board .item .about i {
    line-height: 40px;
    color: #34AB96;
}

.board .item .about a {
    line-height: 40px;
    color: #34AB96;
}

.board .item .about .calendar {
    position: absolute;
    left: 0;
}

.board .item .about .date {
    position: absolute;
    left: 25px;
    cursor: auto;
}

.board .item .about .pointing {
    position: absolute;
    left: -5px;
}

.board .item .about .link {
    position: absolute;
    left: 18px;
}