.form {
    padding: 50px 30px;
    background: url("line.png") right top repeat-y;
}

.form .petty {
    padding: 0 50px;
}

.form .contact input, textarea {
    border-radius: 3px;
    border: none;
    background-color: #2E2938;
    color: #FDFDFD;
}

.form .contact textarea {
    padding: 5px;
}

.form .contact h4 {
    margin-bottom: 20px;
}

.form .contact h5 {
    line-height: 25px;
    color: #A9ACAD;
}

.form .contact .bottom-button {
    height: 70px;
}

.form .contact .bottom-button .columns {
    line-height: 70px;
    text-align: center;
}

.form .contact .bottom-button button {
    background-color: #564F89;
    width: 240px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
}

.form .contact .bottom-button button h5 {
    color: #FDFDFD;
    font-weight: bold;
}


